.ImgRollingCoffe{
  width: 200px;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainPage{
  flex-grow: 1;
}
.bgGreen{
  background: rgb(11, 41, 11);
}
.imagenError{
 position: relative;
margin: 0 auto;
}
.botonError{
  width: 200px;
  margin: 50px  auto;
}